body{
    font-family: 'Barlow Condensed', sans-serif;
   
    
}

h1, h2{
    font-family: 'Rajdhani', sans-serif;
    
}


 .presentation{ 
        display: inline-block;
        position: relative;
    }
    
.slogan {
        z-index: 1;
        position: absolute;
        font-family: 'Barlow Condensed', sans-serif;
        font-style: italic;
        font-size: 30px;
        color:#D92332;
        background-color:rgba(165, 208, 219, 0.29);
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 20%;
        top: 80%;
        width: 70%;
    } 

@media (max-width:1400) {
   .presentation{
    font-size: 20px;
   } 
}


