

:root {
    --primary: #D94350;
    --secondary: #D9777F;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #fd7e14;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #1d1f20;
    --bs-nav-link-color: var(--primary);
    --bs-link-color: var(--primary);
    --bs-link-hover-color: var(--secondary);
}

  .btn-primary {
    --bs-btn-color: #f7f0f0;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffc697;
    --bs-btn-hover-border-color: var(--secondary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4e7277;
    --bs-btn-active-border-color: var(--secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4f4f4f;
    --bs-btn-disabled-border-color: #343434;
}

.btn-outline-primary {
    --bs-btn-color: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--secondary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--primary);
    --bs-gradient: none;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: var(--primary);
}



.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* fin override_boostrap*/


/* PAGE D ACCEUIL */

/* police*/
body{
    font-family: 'Barlow Condensed', sans-serif;
}

h1, h2{
    font-family: 'Rajdhani', sans-serif;
    
    
}


/*slogan*/
.presentation{ 
        display: inline-block;
        position: relative;
    }
    
.slogan {
        z-index: 1;
        position: absolute;
        font-family: 'Barlow Condensed', sans-serif;
        font-style: italic;
        font-size: 30px;
        color:#D92332;
        font-weight: bold;
        left: 0;
        right: 0;
        top: 70%;
    } 

.image-slogan{
    margin: 15px;
}

.text-slogan{
    background-color: rgba(128, 128, 128, 0.541); ;
}

@media (max-width: 444px) {
    .slogan {
        font-size: 15px !important;
        width: 100%; 
    }

}

@media (max-width: 767px) {
    .slogan {
        font-size: 20px !important;
        width: 100%; 
    }

}

@media (max-width: 1200px) {
    .slogan {
        font-size: 25px;
        width: 100%; 
    }

}
/* fin slogan*/



/* nos services*/
.two_columns{
    display: flex;
    flex-wrap: wrap;
}

.two_columns li{
    flex-basis: 50%;
}




/* PAGE D AVIS */
/* article .opinion{
    margin-top: 30px;
} */

/* Styles pour le carrousel */
#myCarousel { 
    color: #000; 
}


.carousel-inner {
    border: 2px solid rgb(175, 171, 171);
    border-radius: 5px; 
   
}

/* Styles pour les indicateurs du carrousel */
.carousel-indicators button {
    background-color: #D92332; 
}



/* Styles pour les flèches de contrôle du carrousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #D92332; 
}

/* Styles pour le texte dans le carrousel */


.carousel-caption h3, p{
    color: #000; 
}

/* notation par les étoiles*/

.form-group{
    margin-top: 40px;
}

.la-star {
    font-size: xx-large;
}

/*FOOTER*/
.footer{
    background-color: grey;
    color: white;
}

/* politique de confidentialité */
#privacy-policy-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#close-popup {
    background-color: #D94350;
    color: white;
    border-radius: 10px;
}

/* Espace Admin*/

.title-nav {
    font-size: 24px;
}

